<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="Bugtracker" connectionString="Server=192.168.238.13;Port=3306;Database=bugtracker;Uid=root;Pwd=;charset=utf8;Allow Zero Datetime=true" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MantisConnectBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="MantisConnectBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.238.13/mantisbt-2.23.0/api/soap/mantisconnect.php?wsdl"
        binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding"
        contract="Mantis.MantisConnectPortType" name="MantisConnectPort" />
     </client>
  </system.serviceModel>
</configuration>
